* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    /* background: -webkit-linear-gradient(right, #bdc3c7, #2c3e50);
    background: linear-gradient(to left, #bdc3c7, #2c3e50); */
    background-color: black;
    font-family: "Roboto", sans-serif;
    font-size: 100%;
  }
  
  .website {
    background:rgba(255, 255, 255, 0.7);
    width: 80%;
    border-radius: 5px;
    margin: 30px auto;
    overflow: hidden;
  }
  .website header {
    background: #436fe6;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px 0;
    margin-bottom: 10px;
  }
  .website header h1 {
    color: white;
    font-weight: 200;
  }
  .website header, .website footer {
    text-align: center;
  }
  .website footer {
    font-weight: 300;
    font-size: 0.8em;
  }

  #image{
    margin: 20px auto;
    text-align: center;
    margin-bottom: 0px;
  }
  
  .grid {
    padding: 10px;
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 3;
       -moz-column-gap: 3;
            column-gap: 3;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  
  .item {
    -webkit-column-break-inside: avoid;
       page-break-inside: avoid;
            break-inside: avoid;
    will-change: transform;
    opacity: 0;
    width: 100%;
    height: 130px;
    display: inline-block;
    margin-bottom: 10px;
    padding: 4px;
    border-radius: 5px;
    background-color: #c8dcd8;
    position: relative;
    box-shadow: 0px 3px 5px -4px #272727;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #item1 {
    background-image: url("../img/a11.jpg");
  }
  #item2 {
    background-image: url("../img/a3.jpg");
  }
  #item3 {
    background-image: url("../img/a4.jpg");
  }
  #item4 {
    background-image: url("../img/a5.png");
  }
  #item5 {
    background-image: url("../img/a6.png");
  }
  #item6 {
    background-image: url("../img/a7.jpg");
  }
  #item7 {
    background-image: url("../img/a8.jpg");
  }
  #item8 {
    background-image: url("../img/a9.jpg");
  }
  #item9 {
    background-image: url("../img/a10.jpg");
  }
  #item1,#item6,#item7 {
    height: 130px;
  }
  #item2,#item4,#item8 {
    height: 300px;
  }
  #item3,#item5,#item9 {
    height: 160px;
  }
  .item span {
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 4px 7px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 100%;
    font-size: 0.6em;
  }
  .item.is-visible {
    -webkit-animation: anime 3s cubic-bezier(0.77, 0.35, 0, 1.6) forwards;
            animation: anime 3s cubic-bezier(0.77, 0.35, 0, 1.6) forwards;
  }
  
  @-webkit-keyframes anime {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
    70% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes anime {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
    70% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes anime2 {
    0% {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
    }
    50% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes anime2 {
    0% {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
    }
    50% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }

  .btn {
    position: fixed;
    width: 50px;
    height: 50px;
    margin: 20px;
    padding-top: 10px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0 , 0);
    margin-bottom: 10px;
  }
  .btn p {
    transform: translateY(-30%);
    font-family: cursive;
    font-size: 20px;
    color: white;
  }
  .btn:nth-child(2) {
      margin-top: 80px;
      background-image: url(../img/avatar.png);
  }
  .btn:nth-child(3) {
    margin-top: 140px;
    background-image: url(../img/up.jpg);
  }