body{
    background-color: black;
}
#background{
    width: 80%;
    margin: 50px auto;
    /* background-color: rgba(255,255,255,0.7); */
}
/*瀑布流层*/
.waterflow{
    /*每行的列数*/
    -moz-column-count:2; /* Firefox */
    -webkit-column-count:2; /* Safari 和 Chrome */
    column-count:2;

    /*空隙*/
    -moz-column-gap: 2em;
    -webkit-column-gap: 2em;
    column-gap: 2em;
    padding: 10px;
}
/*一个内容层*/
.box{
    padding: 1em;
    margin: 0 0 1em 0;
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    background-color: rgba(255,255,255,0.7);
    border: 1px solid rgb(255, 255, 255);
}
img{
    width: 100%;
    margin-bottom:10px;
}

.btn {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 350px;
    margin: 20px;
    padding-top: 20px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 10px;
    text-align: center;
  }
  .btn p {
    transform: translateY(-120%);
    font-family: cursive;
    font-size: 20px;
    color: white;
  }
  .btn:nth-child(2) {
    margin-top: 80px;
    background-image: url(../img/avatar.png);
  }
  .btn:nth-child(3) {
    margin-top: 140px;
    background-image: url(../img/up.jpg);
  }