/*reset*/
* {
	padding: 0;
	margin: 0;
}

/*css variables*/
:root {
	--thumbnail-width: 20px;
	--thumbnail-height: 3px;
	--shadow: rgba(0, 0, 0, .25);
}

html, body {
	height: 100%;
	width: 100%;
	position: relative;
}

body {
	background: #000;
}

#sections-wrapper {
	position: relative;
	overflow: hidden;
	height: 100vh;
	background: #000;
}

section {
	height: 100vh;
	font-size: 0;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.hide-bottom {
	transform: translateY(100%);
}

.hide-top {
	transform: translateY(-100%);
}

.segment {
	height: 100%;
	display: inline-block;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
}

.segment-inner {
	position: absolute;
	top: 0;
	background: no-repeat center center / cover; 
	height: 100%;
	width: 100vw;
}

.sections-control {
	text-align: center;
	font-size: 0;
	position: fixed;
	right: 25px;
	bottom: 25px;
	box-sizing: border-box;;
}

.section-thumbnail {
	width: var(--thumbnail-width);
	height: var(--thumbnail-height);
	display: block;
	margin-top: 4px;
	padding: 4px 0;
	position: relative;
	transition: .3s all ease;
	opacity: .5;
	cursor: pointer;
	transform-origin: right top;
}

.section-thumbnail:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: var(--thumbnail-height);
	top: 50%;
	margin-top: calc(var(--thumbnail-height)/2 * -1);
	background: #fff;
}

.section-thumbnail:hover {
	opacity: 1;
}

.section-thumbnail.active {
	transform: scaleX(2);
	opacity: 1;
}

/*上边栏*/
#div2{
	z-index: 1;
	position: absolute;
    width: 98%;
    height: 10%;
    margin: 1%;
    margin-top: 5px;
    border-radius: 8px;
    background-color: rgba(149, 175, 248, 0.5);
}

/*主页面名字框*/
#div3{
    position: relative;
    width: 25%;
    height: 80%;
    margin: 2%;
    border-radius:20px 0 20px 0;  /*圆角*/
    background-color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
	text-align: center;

    /*实现垂直居中*/
    top: 7%; /*向下偏移div2的50%*/
    transform: translateY(-50%);    /*向上偏移自身高度的50%*/
    float: left;
}

/*主页面名字*/
#div5{
    position: relative;
    font: bold;
    top:50%;
    transform: translateY(-50%);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*新闻*/
#div4{
    position: relative;
    width: 8%;
    height: 80%;
    margin: 2%;
    cursor: pointer;    /*手形鼠标*/
    font: bold;
    font-family: cursive;

    top: 30%;
    transform: translateY(-50%);
    float: left;
}

/*登录*/
#b1{
    position: relative;
    width: 8%;
    height: 80%;
    margin-left: 40%;
    top: 50%;
    transform: translateY(-50%);

    border-radius: 10px;
    opacity: 0.7;
    background-color: rgba(255, 255, 255, 0.5);
    float: left;
}

/*注册*/
#b2{
    position: relative;
    width: 8%;
    height: 80%;
    margin-left: 10px;
    top: 50%;
    transform: translateY(-50%);

    border-radius: 10px;
    opacity: 0.7;
    background-color:rgba(255, 255, 255, 0.5);
    float: left;
}

a:link { text-decoration: none;color: rgb(255, 255, 255)}    /*未被访问*/
a:active { text-decoration: none;text-decoration:blink}        /*点击*/
a:hover { text-decoration:none;color: rgb(212, 59, 59)}      /*鼠标悬停*/