body
{
    font-family: cursive;
    font-size: 18px;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgb(207, 207, 207);
}
#div1{
    width: 1260px;
    height: 550px;
    margin: 0px auto;
    padding: 0%;
    position: absolute;
    z-index: -1;
    overflow: hidden;  
}
#div1 ul{
    position: absolute;
    left: 0;
    top: 0;
}
#div1 ul li {
    float: left;
    width: 1200px;
    height: 500px;
    list-style: none;
}


#form1 {
    background-color:  rgb(238, 238, 238);
    height: 400px;
    width:  400px;
    margin:-150px 0 0 -230px;
    padding:30px;
    position: absolute;
    top: 50%;
    transform: translateY(-20%);
    left: 50%;
    z-index: 0;
    -moz-border-radius: 3px;
    -webkit-boder-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow:
        0 0 2px rgba(0,0,0,.2),
        0 1px 1px rgba(0,0,0,.2),
        0 3px 0 #fff,
        0 4px 0 rgba(0,0,0,.2),
        0 6px 0 #fff,
        0 7px 0 rgba(0,0,0,.2);
    -moz-box-shadow:
            0 0 2px rgba(0,0,0,0.2),
            1px 1px 0 rgba(0,0,0,.1),
            3px 3px 0 rgba(255,255,255,1),
            4px 4px 0 rgba(0,0,0,.1),
            6px 6px 0 rgba(255,255,255,1),
            7px 7px 0 rgba(0,0,0,.1);
    box-shadow:
            0 0 2px rgba(0,0,0,0.2),
            0 1px 1px rgba(0,0,0,.2),
            0 3px 0 #fff,
            0 4px 0 rgba(0,0,0,.2),
            0 6px 0 #fff,
            0 7px 0 rgba(0,0,0,.2);
}
hr{
    color: darkgray;
    /*position: page;*/
    width: 600px;
    text-align: left;
    filter: alpha(opacity=100,finishopacity=0,style=1);
}
#spancolor{
    color: red;
}
fieldset{
    padding: 20px;
    border: 1px solid #000;
}
#field{
    border-radius: 20px 20px;
    /*outline-color: lightblue;*/
    /*outline-style: outset;*/
    /*outline-width: 10px;*/
}
/* button{
    background-color: lightblue;
    font-size: 15px;
    border-radius: 8px;
} */
textarea
{
    box-shadow: 10px 10px 100px lightgoldenrodyellow;
    /*水平偏移，垂直偏移，模糊值，颜色*/
}