body{
    background-color: black;
}
#background{
    width: 80%;
    margin: 100px auto;
    /* background-color: rgba(255,255,255,0.7); */
}
/*瀑布流层*/
.waterflow{
    /*每行的列数*/
    -moz-column-count:3; /* Firefox */
    -webkit-column-count:3; /* Safari 和 Chrome */
    column-count:3;

    /*空隙*/
    -moz-column-gap: 2em;
    -webkit-column-gap: 2em;
    column-gap: 2em;
    padding: 10px;
}
/*一个内容层*/
.box{
    padding: 1em;
    margin: 0 0 1em 0;
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    background-color: rgba(255,255,255,0.7);
    border: 1px solid rgb(255, 255, 255);
}
img{
    width: 100%;
    margin-bottom:10px;
}