*{
    padding:0;
    margin:0;
}
html {
    width:100vw;
    overflow-x:hidden;
}
body{
    text-align: center;
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(59, 59, 59); */
}
.app{    
    font-size: 0;
    height: 3796px;
    overflow-x: hidden;
}

.mainContainer{
    /* height: 560px; */
    border: 1px solid #eee;
}

.head{
    padding: 0px;
    /* width: 98.5%; */
    width: 100%;
    position: fixed;
    z-index: 100;
}
.container{
    margin-top: 60px;
}
.titleText{
    font-size: 30px;
    float:left;
    margin:30px;
    color: rgb(188, 207, 228);
    font-weight: bold;
}

.footer{
    /* margin-top: 100px; */
    padding: 10px;
    background-color: rgb(59, 59, 59);
}
#div1 {
    float: left;
    width: 300px;
    height: 120px;
}
#div2 {
    float: left;
}

/* icon */
.el-icon-s-promotion{
    color: #eee;
    font-size: 14px;
}
.backtopIcon{
    background-color: #545c64;
}
.el-icon-caret-top{
    color: #ffd04b;
}

/* 图片 */
.el-image{
    width:100%
}